@use '@css/colors';

@mixin button {
  display: flex;
  padding: 14px;
  width: 100%;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 9px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.button-primary {
  @include button;
  background: colors.$brand;
  color: colors.$white;

  &:hover:enabled {
    background: #8800D6;
  }

  &:focus:enabled,
  &:active:enabled {
    background: #6700A3;
  }

  &:disabled {
    cursor: not-allowed;
    color: #A470C2;
    background: #F9F2FD;
  }
}

.button-secondary {
  @include button;
  background: colors.$white;
  color: #6B00A8;
  border: 1px solid #6B00A8;

  &:hover:enabled {
    background: #F9F2FD;
  }

  &:focus:enabled,
  &:active:enabled {
    background: #F5E9FC;
  }

  &:disabled {
    cursor: not-allowed;
    color: #EBD8F8;
    border: 1px solid #EBD8F8;
  }
}

.button-text {
  color: colors.$gray-dark;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

.icon-button {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}