@use '@css/colors';

@mixin button {
  display: flex;
  padding: 14px;
  width: 100%;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 9px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.button-primary {
  @include button;
  background: colors.$brand;
  color: colors.$white;

  &:disabled {
    cursor: not-allowed;
    color: colors.$brand-text-disabled;
    background: colors.$brand-disabled;
  }
}

.button-secondary {
  @include button;
  background: colors.$white;
  color: colors.$brand-text-secondary;
  border: 1px solid colors.$brand-text-secondary;

  &:disabled {
    cursor: not-allowed;
    color: colors.$brand-text-secondary-disabled;
    border: 1px solid colors.$brand-text-secondary-disabled;
  }
}

.button-text {
  color: colors.$gray-dark;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

.icon-button {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}