$brand: #7400B7;
$brand-disabled: #F9F2FD;
$brand2: #00A0D0;

$brand-text: #7400B7;
$brand-text-disabled: #A470C2;
$brand-text-secondary: #6B00A8;
$brand-text-secondary-disabled: #EBD8F8;

$error: #FF3F3F;
$error-text: #FF5A5B;

$black: #061322;
$gray-dark: #394256;
$gray-middle: #8591AA;
$gray-light: #F3F5F7;
$white: #FFF;
