@use "colors";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  color: colors.$black;
  font-family: 'Inter';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h1 {
  font-family: 'Inter';
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
}

h2 {
  font-family: 'Inter';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin: 0;

  i {
    color: colors.$brand2;
    font-style: italic;
    font-weight: 700;
    line-height: 120%;
  }
}

p {
  color: colors.$gray-dark;
  font-family: 'Inter';
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  margin: 0;
}

a {
  color: colors.$brand2;
  font-family: 'Inter';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
}